{% extends 'core/base.html' %}

{% block content %}
{{ project.name }} <a href="{% url 'admin:core_project_change' object_id=project.id %}">⚙️</a>
<hr>
<a href="{% url 'shot_groups_list' project.code %}">Группы</a>
<a href="{% url 'task_list' project.code %}">Задачи</a>
<hr>
<table style="font-family: sans-serif;font-size: 14px;border:0;">
  {% for shot in project.shots.all|dictsort:"name" %}
  <tr class="row-highlight">
    <td style="padding-right: 10px;">
    {% if shot.versions.latest %}
      <img src="{{shot.versions.latest.preview.url}}" class="shot-preview">
    {% else %}
      Нет превью
    {% endif %}
    </td>
    <td style="padding-right: 10px;"><a href="{% url 'admin:core_shot_change' object_id=shot.id %}">{{shot.name}}</a></td>
    <td style="padding-right: 10px;">{{shot.rec_timecode}}</td>
    <td style="padding-right: 10px;">{{shot.source_start_timecode}}</td>
    <td style="padding-right: 10px;">{% for task in shot.task.all%}{{task}}<br>{%endfor%}</td>
    <td style="padding-right: 10px;"></td>
    <td style="padding-right: 10px;">{% if shot.comment %}{{shot.comment}}{% endif %}</td>
    <td style="padding-right: 10px;">{% for group in shot.group.all%}{{group.name}}, {%endfor%}</td>
  </tr>
  {% empty %}
  Нет шотов
  {% endfor %}
</table>
{% endblock %}
